// Theme's Palette
@import("C:/Users/Administrator/Desktop/React/my-blog/node_modules/vuepress-theme-jabinblog/styles/palette.styl")

// User's Palette
@import("C:/Users/Administrator/Desktop/React/my-blog/.vuepress/styles/palette.styl")